langchain
pdf2image
datasets
huggingface_hub
matplotlib
peft
protobuf
pynvml
torch
transformers
scipy
bitsandbytes
accelerate
trl
einops
auto-gptq
optimum
nvidia-ml-py3
xformers
chromadb
pypdf
sentence_transformers
pinecone-client
InstructorEmbedding
pypdfium2